nbstripout

torch>=2.0.0
h5py
einops
tqdm
matplotlib
tensorboard
torch-tb-profiler
ninja
scipy
ipykernel
jupyter>=1.1.1
nbformat>=4.2.0
ipywidgets>=8.1.5

torch_optimizer
pytorch-ignite
opencv-python
kornia
diffusers
transformers
timm
Pillow
optimum-quanto
accelerate
sentencepiece